#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.education-entry, .experience-entry, .general-info-container {
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  background-color: var(--main-secondary);
  position: relative;

}

.education-entry, .experience-entry {
  animation: fadeIn 0.5s forwards;
}

.education-entry-info, .experience-entry-info, .general-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.remove-button {
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 0;
  font-size: x-large;
  transition: none;
  border: none;
}

.remove-button:hover {
  border: none;
  transition: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: scale(1);
      max-height: 200px;
  }
  to {
      opacity: 0;
      transform: scale(0.9);
      max-height: 0px;
  }
}

.fade-out {
  animation: fadeOut 0.2s linear forwards;
  overflow: hidden;
}

.cv-submit {
  background-color: #ac6b26;
  margin: 20px 0px;
}