#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.education-entry, .experience-entry, .general-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}