.cv {
    background-color: white;
    text-align: left;
    padding: 10px;
    min-height: 11in;
    width: 8.5in;
    color: black;
}

p {
    margin: 0px;
}

.cv-gen-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cv-gen-info h1 {
    margin: 0;
    align-self: end;
}

.cv-gen-info  {
    margin: 0;
    align-self: end;
}

.contact {
    justify-self: end;
    text-align: right;
}

.about-me {
    grid-column: span 2;
}