.cv {
    background-color: white;
    min-height: 11in;
    width: 8.5in;
    color: black;
    display: grid;
    grid-template-columns: 40% 1fr;
}

p {
    margin: 0px;
}

.side-content {
    grid-column: 1;
    background-color: lightblue;
    text-align: left;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    grid-column: 2;
    padding: 0px 30px;
    background-color: whitesmoke;
}

.divider {
    height: 3px;
    width: 100%;
    background-color: black;
    margin: 10px 0;
}

.skills-cv-entry {
    padding-left: 15px;
    margin: 0;
}